@import './GlobalCss/Responisve.scss';


.app {
  overflow: hidden;
  // padding: 2rem;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: url('/images/Road_blur2-min.png') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
    // @include respond-to(handhelds) { 
    //   padding: 0rem;
    //  }
      
    // @include respond-to(medium-screens) { 
    //   padding: 1rem;
    //  }
   }

   .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.6) 100%);
   }


   .content{
    position: absolute;
    top: 140px;
    bottom: 0;
    width: 100%; 
     }

