.projects{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: black;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.padd-24 {
    padding-bottom: 24px!important;
    padding-top: 24px!important;
}
.border-bottom {
    border-bottom: 1px solid #e1e4e8!important;
}


.projectItemList{
    list-style-type: none;

}

/* .center{
    margin-right: auto;
    margin-left: auto;
} */