
.navbar-content{
  color: #1d1e22 ;

}
.navbar {
    color: #1d1e22 ;
    /* display: grid; */
    /* grid-template-columns: 50% 50%; */
    text-align: center;
    font-size: 100%;
    
    padding: 2.25rem;
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 70px;
    
}
/* Medium screens */
@media all and (max-width: 800px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      min-height: 140px;

      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      /* justify-content: space-around; */
    }
    .active{
      color: #788ad0!important;
    }
    .passive{
      color:#8e9eab!important;
    }
    .passive:hover{
      color: #788ad0!important;

    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .navbar {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
      align-items: center;
      min-height: 140px;

    }
    .active{
      color: #788ad0!important;
    }
    .passive{
      color:#8e9eab!important;
    }
    .passive:hover{
      color: #788ad0!important;

    }
  }


.passive{
    padding: 0;
    -ms-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
    -moz-cursor: pointer;
    -webkit-cursor: pointer;
    cursor: pointer;
    opacity: 0.8;
    font-size: 48px;
    color: #D0D0D0;

}
.passive:hover{
  padding: 0;
  -ms-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
  -moz-cursor: pointer;
  -webkit-cursor: pointer;
  cursor: pointer;
  opacity: 0.8;
  opacity: 1;
  font-weight: bold;
  font-size: 58px;
  color: white ;
}

.active {
    padding: 0;
    -ms-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
    -moz-cursor: pointer;
    -webkit-cursor: pointer;
    cursor: pointer;
    opacity: 0.8;
    opacity: 1;
    font-weight: bold;
    font-size: 58px;
    color: white ;

    /* border-bottom: 2px solid; */
}
.title-text{
  margin:0em;
}