@import '../../GlobalCss/Responisve.scss';

$accent-color: #788ad0!important;
$accent2-color:#8e9eab!important;



.navbar {
    color:#D0D0D0 ;
    text-align: center;
    padding: 2.25rem;
    display: flex;
    align-items: flex-end;
    a{
      text-decoration: none;
      color: inherit;
    }

    @include respond-to(handhelds) { 
      flex-direction: column;
      align-items: center;
      min-height: 120px!important;
      padding: 0%!important;}
      
    @include respond-to(medium-screens) { 
      flex-direction: column;
      align-items: center;
      min-height: 140px;
      padding: 1rem; }
}
  
%menu-item-shared{
  -ms-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
  -moz-cursor: pointer;
  -webkit-cursor: pointer;
  cursor: pointer;
  opacity: 1;

}

.passive{
  color:$accent2-color;
    @extend %menu-item-shared;
    font-size: 48px;
  
    @include respond-to(handhelds) {
      color:$accent2-color;
      font-size: 38px;
    }
    @include respond-to(medium-screens) {
      color:$accent2-color;
    }
  

}

.active, .passive:hover {
    @extend %menu-item-shared;
    font-weight: bold;
    font-size: 58px;
    color: white!important;

    @include respond-to(handhelds) {
      color: $accent-color;
      font-weight: 48px;
      
    }
    @include respond-to(medium-screens) {
      color: $accent-color
    }
}
.title-text{
  margin:0em;
}




// @include respond-to(handhelds) { width: 100% ;}
//   @include respond-to(medium-screens) { width: 125px; }
//   @include respond-to(wide-screens) { float: none; }
