@import '../../GlobalCss/Responisve.scss';


.content {
    height: 85%;

    box-sizing: border-box;
    @include respond-to(handhelds) { 
        height: 87%;
    }
        
      @include respond-to(medium-screens) { 
        height: 82%;
    }
}
